body {
    margin: 0;
    padding: 0;
    background: black;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.sun {
    width: 60px;
    height: 60px;
    background: radial-gradient(circle, yellow, orange);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-75%, -50%);
    box-shadow: 0 0 60px 20px orange;
}

/* Generic orbit style */
[class$="orbit"] {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 0.2px dashed rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}


/* Orbit sizes and planet sizes/colors */
.mercuryorbit {
    width: 140px;
    height: 100px;
}
.mercury {
    width: 5px;
    height: 5px;
    background: gray;
    border-radius: 50%;
    position: absolute;
}

.venusorbit {
    width: 180px;
    height: 130px;
}
.venus {
    width: 8px;
    height: 8px;
    background: burlywood;
    border-radius: 50%;
    position: absolute;
}

.earthorbit {
    width: 230px;
    height: 180px;
}
.earth {
    width: 12px;
    height: 12px;
    background: blue;
    border-radius: 50%;
    position: absolute;
}

.marsorbit {
    width: 280px;
    height: 230px;
}
.mars {
    width: 12px;
    height: 12px;
    background: red;
    border-radius: 50%;
    position: absolute;
}

.jupiterorbit {
    width: 450px;
    height: 350px;
}
.jupiter {
    width: 33px;
    height: 33px;
    background: goldenrod;
    border-radius: 50%;
    position: absolute;
}

.saturnorbit {
    width: 580px;
    height: 450px;
}
.saturn {
    width: 30px;
    height: 30px;
    background: wheat;
    border-radius: 50%;
    position: absolute;
}

.uranusorbit {
    width: 700px;
    height: 550px;
}
.uranus {
    width: 20px;
    height: 20px;
    background: lightblue;
    border-radius: 50%;
    position: absolute;
}

.neptuneorbit {
    width: 800px;
    height: 600px;
}
.neptune {
    width: 20px;
    height: 20px;
    background: darkblue;
    border-radius: 50%;
    position: absolute;
}
